.book-cart {
  width: 18rem;
  height: 24rem;
}

.count,
.total,
.price {
  padding: 20px 0;
  justify-content: space-between;
}

.add-to-cart {
  margin-top: 40px;
}

.count-input {
  width: 50px;
  height: 30px;
}
